<div class="card">
    <h5 class="card-header">{{ToFirstUpper pageType}} Penalty Criteria</h5>
    <div class="card-body">
        <form method="POST" action="/PenaltyCriteria/Entry">
            <input type="hidden" name="Task" value="{{pageType}}">
            <div class="mb-3">
                {{#if EditPenaltyCriteria}}
                <input type="hidden" name="PenaltyCriteria" value="{{EditPenaltyCriteria.PenaltyCriteriaId}}">
                {{/if}}
                <label for="Number_of_Exceeded_Days" class="form-label">Number of Exceeded Days</label>
                <input type="number" class="form-control" id="Number_of_Exceeded_Days" name="Number_of_Exceeded_Days"
                    value="{{#if EditPenaltyCriteria}}{{EditPenaltyCriteria.Number_of_Exceeded_Days}}{{/if}}">
            </div>
            <div class="mb-3">
                 <label for="Amount" class="form-label">Penalty Amount in Rs</label>
                <input type="number" class="form-control" id="Amount" name="Amount"
                    value="{{#if EditPenaltyCriteria}}{{EditPenaltyCriteria.Amount}}{{/if}}">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary text-center"><i class="fas fa-pen"></i> {{#ifEquals
                    pageType 'add' }}Submit{{/ifEquals}}{{#ifEquals pageType 'edit' }}Update{{/ifEquals}}</button>
                <button type="reset" class="btn btn-danger text-center"><i class="fas fa-trash"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>