<div class="card">
    <h5 class="card-header">{{ToFirstUpper pageType}} User</h5>
    <div class="card-body overflow-scroll">
        <form method="POST" action="/User/Entry">
            <input type="hidden" name="Task" value="{{pageType}}">
            <div class="mb-3">
                {{#if EditUser}}
                <input type="hidden" name="User" value="{{EditUser.UserId}}">
                {{/if}}
                <label for="UserName" class="form-label">User Name</label>
                <input type="text" class="form-control" id="UserName" name="UserName"
                    value="{{#if EditUser}}{{EditUser.UserName}}{{/if}}" minlength="5"
                maxlength="20">
            </div>
            <div class="mb-3">
                <label for="RoleId" class="form-label">Select Role for user</label>
                <select class="form-select" name="RoleId" id="RoleId" aria-label="Default select example">
                    <option selected disabled>Select Role</option>
                    {{#each Roles as |roles|}}
                    <option value="{{roles.RoleId}}">{{roles.Name}} - {{roles.Remarks}}</option>
                    {{/each}}
                </select>
                {{#if EditUser}}
                <span class="badge bg-primary"> {{EditUser.Role}} -
                    {{EditUser.Role_Remarks}}</span>
                {{/if}}
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input type="Password" class="form-control" id="Password" name="Password"  minlength="8" maxlength="20">
            </div>
            <div class="mb-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="checkedShow">
                    <label class="form-check-label" for="checkedShow">Show Password</label>
                </div>
            </div>
            <div class="mt-3 text-center">
                <button type="submit" class="btn btn-primary text-center"><i class="fas fa-pen"></i> {{#ifEquals
                    pageType 'add' }}Submit{{/ifEquals}}{{#ifEquals pageType 'edit' }}Update{{/ifEquals}}</button>
                <button type="reset" class="btn btn-danger text-center"><i class="fas fa-trash"></i> Cancel</button>
            </div>
        </form>
    </div>
</div>
<script src="/Assets/Js/custome.js"></script>