<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h5>Payment List</h5>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary btn-sm " href="/Payments/action/add"><i class="fas fa-pen"></i> Add</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{#ifEquals PaymentInformation.success true}}
        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Payment Title</th>
                        <th scope="col">Amount</th>
                        <th class="text-center" colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each PaymentInformation.result}}
                    <tr>
                        <td>{{SN @index}}</td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Payment_Title}}</td>
                        <td>{{this.Amount}}</td>
                        <td class="text-center"><a
                                href="/Payments/action/edit?Payments={{this.PaymentId}}"
                                style="text-decoration:none;color:white;"><i class="fas fa-edit text-success"></i>
                                Edit</a>
                            </form>
                        </td>
                        <td class="text-center">
                            <form method="POST" action="/Payments/remove/{{this.PaymentId}}">
                                <button type="submit" style="background: transparent; color:white;border:none;"><i class="fas fa-trash text-danger"></i>
                                    Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <ul class="pagination justify-content-center">
                                {{#if PaymentInformation.navigation.previous_page}}
                                <li class="page-item"><a class="page-link"
                                        href="{{PaymentInformation.navigation.previous_page}}">Previous</a></li>
                                {{else}}
                                <li class="page-item disabled"><a class="page-link"
                                        href="{{PaymentInformation.navigation.previous_page}}" tabindex="-1"
                                        aria-disabled="true">Previous</a></li>
                                {{/if}}

                                <li class="page-item disabled"><a class="page-link"
                                        href="{{PaymentInformation.navigation.current_page}}" tabindex="0"
                                        aria-disabled="true">Current</a></li>

                                {{#if PaymentInformation.navigation.next_page}}
                                <li class="page-item"><a class="page-link"
                                        href="{{PaymentInformation.navigation.next_page}}">Next</a></li>
                                {{else}}
                                <li class="page-item disabled"><a class="page-link"
                                        href="{{PaymentInformation.navigation.next_page}}" tabindex="1"
                                        aria-disabled="true">Next</a></li>
                                {{/if}}

                            </ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{/ifEquals}}

        {{#ifNotEquals PaymentInformation.success true}}
        <div class="text-center">
            <h3 class="text-danger">Payments Not Found! </h3>
        </div>
        {{/ifNotEquals}}
    </div>
</div>